<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">


		</head>
		<body>
			<b>Herman "Butch" Berlemann </b> <em> Spatial Architect </em>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv/cv.html">CV</a></li>
				<li><a href="https://myapp-funny-ostrich.mybluemix.net/">My Chatbot</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:butchberlemann@gmail.com">email</a></li>
				<li><a href="https://www.linkedin.com/in/butch-berlemann-09ba247">LinkedIn</a></li>
				<li><a href="https://github.com/butchberlemann">github.com/butchberlemann</a></li>
				<li><a href="https://twitter.com/berlebutch">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
